.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background: #f7f3ef;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-weight: bold;
}

.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}
.nav-links a {
  text-decoration: none;
  color: inherit;
}

.logout-btn {
  background: #e63946;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: #f7f3ef;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }
}
